

body{
    background-color: #22292C;
    color: white;
    margin:0px;
    padding: 0px;
}
.bottomblock {
    background-color: #1b2631;
    color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

ul.menucolor > li > a {
    color: white;
}

label{
  color: white;
}
