<!-- Commercial -->

<div class="grid-container">
<div class="grid-x grid-margin-x">

<div class="medium-8 cell">
<!-- a changer pour qu'il chop l'url static -->
<p><img src="{% if fields.imagecommercial %}{{ fields.imagecommercial.urls }}{% endif %}" alt="main article image"></p>
</div>
<div class="medium-4 cell">
<p><img src="https://placehold.it/400x200&text=Other cool article" alt="article promo image" alt="advertisement for deep fried Twinkies"></p>
<p><img src="https://placehold.it/400x200&text=Other cool article" alt="article promo image"></p>
</div>
</div>
</div>

<!-- nouveauté -->
<div class="grid-container">
  <div class="grid-x grid-margin-x">

    <div class="medium-4 cell">
      <img src="https://placehold.it/400x370&amp;text=Look at me!" alt="image for article"></div>
    <div class="medium-4 cell"><img src="https://placehold.it/400x370&amp;text=Look at me!" alt="image for article"></div>
    <div class="medium-4 cell"><img src="https://placehold.it/400x370&amp;text=Look at me!" alt="image for article"></div>

  </div>
</div>
