{% load static %}
{% block header %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="icon" type="{% static "image/icone.png"%}" href="logo.png" />
      <title>{{ fields.title }}</title>
      <meta name="description" content="{{ fields.description }}" />
      <meta name="author" content="{{ fields.author }}">
      <meta name="Copyright" content="{{ fields.copyright }}" />


    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
  </head>

{% endblock %}
