{% extends 'baseapp/base.html' %}
{% load static %}

{% block header%}
{% include "baseapp/head.html" %}
{% endblock %}

{% block content %}

  <div class="grid-container">
    <h1 class="text-center">{{ fields.title }}</h1>
    {% if fields.message %}
      <h2>{{ fields.message }}</h2>
    {% endif %}

    {% if fields.forms %}
      <form action="." method="post" id="formcontact">
      {{ fields.forms.as_p }}
      {% csrf_token %}
      <button class="button large expanded" type="submit" form="formcontact" value="send e-mail">Contact</button>
      </form>
    {% endif %}
  </div>
  
{% endblock %}
